## -----------------------------------------------
## Basic Configuration
## -----------------------------------------------

# theme = "hugo-story"

## -----------------------------------------------
## Publish
## -----------------------------------------------

relativeURLs = "true"
#canonifyURLs = "true"

# Local
baseURL = "/"
publishDir = "public"

# Remote

## -----------------------------------------------
## Hugo Built-in Features
## -----------------------------------------------

disableKinds = ["taxonomy", "taxonomyTerm"]
# googleAnalytics = "G-XXXXXXXXXX"

## -----------------------------------------------
## Site Parameters
## -----------------------------------------------

[Params]
  math = true
  tableOfContents = true

[Params.social]

[Params.asset]

[services]
  [services.disqus]
    shortname = 'littlecheesecakeme'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]
  [markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 1

## -----------------------------------------------
## Output Formats (for search index)
## -----------------------------------------------
[outputs]
  home = ["HTML", "JSON"]

## -----------------------------------------------
## Site Languages
## -----------------------------------------------
defaultContentLanguage = 'en'
defaultContentLanguageInSubdir = true

[languages]
  [languages.cn]
    contentDir = 'content/cn'
    disabled = false
    languageCode = 'zh'
    languageDirection = 'ltr'
    languageName = '中文'
    title = 'LitteCheeseCake MoneySense'
    weight = 2
  
  [languages.en]
    contentDir = 'content'
    disabled = false
    languageCode = 'en-US'
    languageDirection = 'ltr'
    languageName = 'EN'
    title = 'LitteCheeseCake MoneySense'
    weight = 1