{{ define "main" }}
    {{ $myData := (index site.Data site.Language.Lang) }}
    {{ partial "lang" }}
    {{ partial "header" }}
    <div class="wrapper style1 align-center">
        <div class="inner">
            <h2>{{ .Params.Title }}</h1>
            <p>{{ .Date.Format "January 2, 2006" }} | 
            {{ range .Params.tags }} <span>{{ i18n . }}</span> {{ end }}
            </p>
            <div class="content align-left">
                {{ .Content }}
            </div>
            {{ partial "disclaimer" $myData.disclaimer }}
            {{ partial "buy_me_a_coffee" }}
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>

    {{ partial "footer" }}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB2VMZMH"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{{ end }}