<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="">
	<meta name="author" content="">
	{{ if .Site.Params.favicon }}
	{{ partial "favicon" }}
	{{ end }}
	
	<!-- CSS -->
	{{ if .Site.IsServer }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
	{{ else }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "css/main.css" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	{{ end }}
	{{ if .Site.IsServer }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>
	{{ else }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript | minify).RelPermalink }}" /></noscript>
	{{end}}

	<!-- FontAwesome CSS -->
	{{ range .Site.Params.asset.fontawesome_css -}}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PB2VMZMH');</script>
		<!-- End Google Tag Manager -->

</head>
