{{ if .IsPage }}
<!-- Article Structured Data (JSON-LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ with .Site.Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    {{ with .Site.Params.logo }}
    "logo": {
      "@type": "ImageObject",
      "url": "{{ . | absURL }}"
    }
    {{ end }}
  },
  {{ $image := "" }}
  {{ with .Params.image }}
    {{ $image = . | absURL }}
  {{ else }}
    {{ with findRE "<img[^>]+src=\"([^\"]+)\"" .Content 1 }}
      {{ $image = index (findRE "src=\"([^\"]+)\"" (index . 0) 1) 0 | replaceRE "src=\"(.+)\"" "$1" | absURL }}
    {{ end }}
  {{ end }}
  {{ with $image }}
  "image": "{{ . }}",
  {{ end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  {{ with .Params.tags }}
  "keywords": "{{ delimit . ", " }}",
  {{ end }}
  "articleSection": "{{ with .Section }}{{ . }}{{ else }}Blog{{ end }}",
  "inLanguage": "{{ .Site.Language.Lang }}",
  "wordCount": {{ .WordCount }},
  {{ $readTime := div (countwords .Content) 200 }}
  {{ if lt $readTime 1 }}{{ $readTime = 1 }}{{ end }}
  "timeRequired": "PT{{ $readTime }}M"
}
</script>
{{ else if .IsHome }}
<!-- Website Structured Data (JSON-LD) -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Site.BaseURL }}",
  "inLanguage": "{{ .Site.Language.Lang }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}"
    {{ with .Site.Params.logo }}
    ,
    "logo": {
      "@type": "ImageObject",
      "url": "{{ . | absURL }}"
    }
    {{ end }}
  }
}
</script>
{{ end }}
